input, textarea {
  background-color: #320046 !important;
  border: solid #bb00c2 2px !important;
  color: #01d7f9 !important;
}

label,
h1 {
  color: #bb00c2 !important;
}

button {
  margin-top: 20px;
  background-color: #bb00c2 !important;
  border: none !important;
}

a {
  text-decoration: none;
}
span{
  background-color: #572a69 !important ;
  color: #bb00c2 !important ;
  border: #bb00c2 !important ;
}